@import url(styles/header.css);
@import url(styles/rodapé.css);
@import url(styles/topicos.css);

:root{
    --cor-de-fundo: #274287;

    --cor-de-letra: #FFFFFF;
    --fonte-principal:Inter;
}
.body{
    background-color: var(--cor-de-fundo);
    font-size: 30px;
    background-image: url(images.png);
}